@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Josefin+Sans:wght@100&family=Titillium+Web:wght@200&display=swap');

.container{
    width: 100%;
    height: 920px;
    position: relative;
}

.container img{
    width:100%;
  }

.square1 {
    position: relative; left: 0px;
    width: 1887px;
    height: 180px;
    background: #0091EA;
  }

.rule1{
    position: relative; top: -230px;
    position: relative; left: 100px;
    font-size: 80px;
}

.r1{
    position: relative; top: -250px;
}

.r2{
    position: relative; top: -240px;
}

.r3{ 
    position: relative; top: -210px;
}

.r4{
    position: relative; top: -210px;
    font-size: 30px;
}

.r5{
    position: relative; top: -210px;
}

.r6{
    position: relative; top: -210px;
}

.r7{
    position: relative; top: -210px;
}

.r8{
    position: relative; top: -210px;
}
.r9{
    position: relative; top: -210px;
}
.r10{
    position: relative; top: -210px;
}

.r11{
    position: relative; top: -210px;
}
.r12{
    position: relative; top: -210px;
}
.r13{
    position: relative; top: -210px;
}
.r14{
    position: relative; top: -210px;
}
.r15{
    position: relative; top: -210px;
}
.r16{
    position: relative; top: -210px;
}
.r17{
    position: relative; top: -210px;
}
.r18{
    position: relative; top: -210px;
}
.r19{
    position: relative; top: -210px;
}
.r20{
    position: relative; top: -210px;
}
.r21{
    position: relative; top: -210px;
}
.r22{
    position: relative; top: -210px;
}
.r23{
    position: relative; top: -210px;
}
.r24{
    position: relative; top: -210px;
}
.r25{
    position: relative; top: -210px;
}

.r26{
    position: relative; top: -210px;
}
.r27{
    position: relative; top: -210px;
}
.r28{
    position: relative; top: -210px;
}
.r29{
    position: relative; top: -210px;
}
.r30{
    position: relative; top: -210px;
}
.r31{
    position: relative; top: -210px;
}
.r32{
    position: relative; top: -210px;
}
.r33{
    position: relative; top: -210px;
}

.r34{
    position: relative; top: -210px;
}
.r35{
    position: relative; top: -210px;
}
.r36{
    position: relative; top: -210px;
}
.r37{
    position: relative; top: -210px;
}
.r38{
    position: relative; top: -210px;
}
.r39{
    position: relative; top: -210px;
}
.r40{
    position: relative; top: -210px;
}
.r41{
    position: relative; top: -210px;
}
.r42{
    position: relative; top: -210px;
}
